.wrapper {
    background-color: var(--main_color);
    border-radius: 24px 24px 0px 0px; 
}
.container {
    width: var(--container_width);
    max-width: var(--container_maxwidth);
    margin: 0 auto;
    padding: 10px 0;
    min-height: 60px;
    color: var(--secondary_text_color);
    overflow: hidden;
}
