.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: max-content;
}
.card {
    background: red;
    height: 200px;
}
.pagination {
    background-color: var(--main_color);
    width: max-content;
    border-radius: 10px;
}
