.cardContainer {
    width: 100%;
    padding: 5% 5% 0 5%;
    box-sizing: border-box;
}
.cardContainer:hover {
    -webkit-box-shadow: 0px 0px 8px 0px var(--main_color);
    -moz-box-shadow: 0px 0px 8px 0px var(--main_color);
    box-shadow: 0px 0px 8px 0px var(--main_color);
}
.avatar {
    object-fit: cover;
    aspect-ratio: 1 / 1;
}
.name {
    color: var(--secondary_text_color);
    font-size: 15px;
    font-weight: 600;
    height: 22px;
}
.specialization {
    color: var(--subtitle_text_color);
    font-size: 15px;
    height: 22px;
}
